{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estética Amanda França</title>
    <link rel="stylesheet" href="{% static 'menu_geral/styles/style_menu.css' %}">
</head>
<body>
    <div class="menu-container">
        <h1>Estética Amanda França</h1>
        <div class="menu-buttons">
            <a href="" class="menu-button">Agendamentos</a>
            <a href="{% url 'lista_clientes' %}" class="menu-button">Clientes</a>
            <a href="{% url 'lista_funcionarios' %}" class="menu-button">Funcionários</a>
            <a href="" class="menu-button">Pagamentos</a>
            <a href="" class="menu-button">Serviços</a>
        </div>
    </div>
</body>
</html>
