@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap");

:root {
    --color-1: #90624A;  /* Marrom claro */
    --color-2: #fff;      /* Branco */
    --color-3: #734230;  /* Marrom escuro */
    --color-4: #BF8969;  /* Marrom médio */
    --color-5: #FFDFBB;  /* Bege claro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kaisei Decol', serif;
    background-image: url('/static/assets/fundo_geral.png'); /* Atualize conforme necessário */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.container {
    background-color: var(--color-2);
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;  /* Aumenta a largura máxima do container */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.5rem;  /* Diminui o tamanho da fonte do cabeçalho */
    color: var(--color-2);
    background-color: var(--color-3);
    border-radius: 0.5rem;
    padding: 0.5rem;  /* Ajusta o padding */
    width: 100%;
    text-align: center;
}

.btn-cadastrar {
    background-color: var(--color-1);
    color: var(--color-2);
    padding: 8px 16px;  /* Ajusta o padding do botão */
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1rem;  /* Diminui o tamanho da fonte do botão */
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
}

.btn-cadastrar:hover {
    background-color: var(--color-4);
}

.clientes-lista {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-5);
    border-radius: 0.5rem;
    overflow: hidden;
}

.clientes-lista th, .clientes-lista td {
    padding: 10px;  /* Ajusta o padding das células da tabela */
    text-align: left;
    border-bottom: 1px solid var(--color-3);
    font-size: 0.9rem;  /* Diminui o tamanho da fonte das células */
}

.clientes-lista th {
    background-color: var(--color-3);
    color: var(--color-2);
}

.clientes-lista td {
    color: var(--color-3);
}

.clientes-lista tr:hover {
    background-color: var(--color-5);
    color: var(--color-3);
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
    }
    
    .btn-cadastrar {
        width: auto;
        margin-left: 20px;
    }
}